In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

# Reading input data

In [2]:
data = pd.read_excel('Input_Data.xlsx')
# rename columns
data.columns = ['Year', 'Popul','Price', 'rain','consumption']
data

   Year  Popul  Price  rain  consumption
0  2010  38885   0.24   788      4572923
1  2011  39607   0.26   630      4958822
2  2012  41431   0.28   645      4901240
3  2013  42662   0.29   746      5098086
4  2014  43974   0.30   636      5228509
5  2015  45335   0.31   605      5408442
6  2016  46802   0.32   552      5957869
7  2017  48285   0.34   528      6088739
8  2018  50006   0.30   632      6075706
9  2019  51437   0.33   617      6131266

In [3]:
# seperate independent and dependent variables 
x = data[['Popul','Price', 'rain',]]
y = data[['consumption']]

# Model

In [4]:
# create linear regression model
regr = linear_model.LinearRegression()
regr.fit(x, y)

# Parameters
print('Coefficients: {0} whereas the intercept is {1}'.format(regr.coef_, regr.intercept_))

Coefficients: [[ 1.15927708e+02 -1.27302385e+06 -1.94640895e+03]] whereas the intercept is [1863385.87940066]

In [5]:
r_squared = regr.score(x,y)
print("r_squared=", r_squared)

r_squared= 0.9635447345805347

In [6]:
import statsmodels.api as sm

X2 = sm.add_constant(x)
mod = sm.OLS(y,X2)
est2 = mod.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            consumption   R-squared:                       0.964
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     52.86
Date:                Wed, 21 Sep 2022   Prob (F-statistic):           0.000105
Time:                        23:37:46   Log-Likelihood:                -129.78
No. Observations:                  10   AIC:                             267.6
Df Residuals:                       6   BIC:                             268.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.863e+06    1.2e+06      1.551      0.172   -1.08e+06     4.8e+06
Popul        115.9277     21.516      5.388      0.002      63.280     168.575
Price      -1.273e+06   3.78e+06     -0.337      0.748   -1.05e+07    7.97e+06
rain       -1946.4090    936.022     -2.079      0.083   -4236.772     343.955
==============================================================================
Omnibus:                        2.567   Durbin-Watson:                   2.440
Prob(Omnibus):                  0.277   Jarque-Bera (JB):                0.957
Skew:                          -0.203   Prob(JB):                        0.620
Kurtosis:                       1.540   Cond. No.                     4.06e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.06e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\ilias\AppData\Roaming\Python\Python38\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

# Scenarios estimation

In [7]:
scenarios = pd.read_excel('Scenarios.xlsx')
scenarios

          Year  Population(inh)  Price (€/m3)  Annual rainfall (mm)
0     2030_low            52000          0.35                   537
1  2030_medium            60000          0.50                   638
2    2030_high            80000          0.65                   738

In [9]:
results_2030 = np.zeros(scenarios.shape[0])

for i in range(scenarios.shape[0]):
    results_2030[i] = np.sum(scenarios.iloc[i][1:] * regr.coef_[0]) + regr.intercept_[0]
    print("The water consumption for scenario {0} is {1} m3".format(i+1, round(results_2030[i],2)))

The water consumption for scenario 1 is 6400846.77 m3
The water consumption for scenario 2 is 6940727.55 m3
The water consumption for scenario 3 is 8873687.25 m3